<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{item_id}}</title>
    <link href="https://vjs.zencdn.net/8.10.0/video-js.css" rel="stylesheet" />
    <script src="https://vjs.zencdn.net/8.10.0/video.min.js"></script>
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://cdn.staticfile.org/twitter-bootstrap/5.3.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.staticfile.org/twitter-bootstrap/5.3.1/js/bootstrap.min.js"></script>
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <script src="https://cdn.staticfile.net/hammer.js/2.0.8/hammer.min.js"></script>
    <script src="https://cdn.staticfile.net/toastr.js/2.1.4/toastr.min.js"></script>
    <link href="https://cdn.staticfile.net/toastr.js/2.1.4/toastr.min.css" rel="stylesheet">
    <!-- <script
        src="https://cdn.jsdelivr.net/npm/videojs-landscape-fullscreen@1.4.6/dist/videojs-landscape-fullscreen.min.js"></script> -->

    <!-- City -->
    <link href="https://unpkg.com/@videojs/themes@1/dist/city/index.css" rel="stylesheet">

    <style>
        body {
            width: auto;
            margin: auto;
            max-width: 800px;
            height: 100vh;
        }

        .container-fluid {
            padding-left: 0;
            padding-right: 0;
            max-height: 50%;
        }

        #audioPlayer {
            width: 100%;
            /* height: 15vh; */
        }

        .custom-tool {
            background-color: lightgray;
        }

        .custom-area {
            height: 90%;
        }

        .highlight-span {
            background-color: #d1e7dd;
        }

        .subtitle-container {
            height: 90%;
        }

        #subtitle-list {
            height: 100%;
            width: auto;
            overflow: auto;
            margin: 5%;
            margin-top: 0%;
            font-size: 1.3em;
        }

        .list-group-item {
            /* 设置内填充为 10 像素 */
            padding: 3%;
            border: none;
        }

        .list-group-item-subcue {
            font-size: 0.7em;
        }


        .form-check-label {
            font-size: 0.7em;
        }

        .video-js {
            width: 100vw;
        }

        @media only screen and (hover: none) and (pointer: coarse) {
            body {
                height: 85vh;
            }

            #subtitle-list {
                height: 65vh;
            }
        }


        .card-list {
            /* position: absolute; */
            overflow: auto;
            max-height: 55vh;
            top: 0;
            width: 100%;
        }

        .http-result-container {
            position: absolute;
            /* overflow: auto; */
            width: 100vw;
            max-height: 60%;
            height: 100%;
            /* height: 60%; */
            bottom: 0;
            padding-left: 2%;
            background-color: white;
            max-width: 800px;
            /* border: 2px solid black; */
            /* 这里的display是为了取消bootstrap中的card导致的display:flex的显示问题 */
            display: block;
        }

        .card-container-button {
            height: 5%;
        }

        .http-result-closer {
            margin-top: 1%;
            margin-right: 1%;
            float: right;
            /* position: absolute; */
        }

        .pr-item {
            margin-bottom: 3%;
        }

        #pr-review-record {
            max-height: 40%;
            overflow-y: auto;
        }

        #pr-meaning-select {
            max-height: 55%;
            overflow-y: auto;
        }

        #contextMenu {
            position: absolute;
            bottom: 0;
        }

        #c-toast {
            background-color: red;
        }
    </style>
</head>

<body>
    <div class="container-fluid">
        <div data-vjs-player="true">
            <video id="audioPlayer" class="vjs-fluid video-js vjs-theme-city" controls preload="metadata" width="100%"
                data-setup='{}' crossorigin="anonymous" playsinline>
                <p class="vjs-no-js">
                    您的浏览器不支持 HTML5 视频播放器，请升级浏览器。
                </p>
                <source src="{{ audio_url }}" type="audio/mp3">
                <track label="English" kind="metadata" srclang="en" src="{{ subtitle_url }}" default>
                {% if subtitle_url_2|length != 0 %}
                <track label="Chinese" kind="metadata" srclang="cn" src="{{ subtitle_url_2 }}" default>
                {% endif %}
            </video>
        </div>
    </div>

    <div id="c-toast" class="toast align-items-center" role="alert" aria-live="assertive" aria-atomic="true"
        style="display:none">
        <div class="d-flex">
            <div class="toast-body">
                Hello, world! This is a toast message.
            </div>
            <button id="c-toast-button" type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast"
                aria-label="Close"></button>
        </div>
    </div>
    <div class="custom-area">
        <div class="custom-tool">
            <div class="btn-group" role="group" aria-label="Media Player Control Buttons">
                <button type="button" class="btn btn-default control-item" onclick="previousAudio();">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                        class="bi bi-skip-start-fill" viewBox="0 0 16 16">
                        <path
                            d="M4 4a.5.5 0 0 1 1 0v3.248l6.267-3.636c.54-.313 1.232.066 1.232.696v7.384c0 .63-.692 1.01-1.232.697L5 8.753V12a.5.5 0 0 1-1 0z" />
                    </svg>
                </button>
                <button type="button" class="btn btn-default control-item" onclick="nextAudio();">
                    <!-- <span class="glyphicon glyphicon-step-forward"></span> -->
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                        class="bi bi-skip-end-fill" viewBox="0 0 16 16">
                        <path
                            d="M12.5 4a.5.5 0 0 0-1 0v3.248L5.233 3.612C4.693 3.3 4 3.678 4 4.308v7.384c0 .63.692 1.01 1.233.697L11.5 8.753V12a.5.5 0 0 0 1 0z" />
                    </svg>
                </button>
                <div class="form-check control-item">
                    <input id="singleLineLoop" class="form-check-input" type="checkbox" checked="true">
                    <label class="form-check-label" for="singleLineLoop">单行循环</label>
                    </input>
                </div>
                <div class="form-check control-item">
                    <input id="audioOnlyMode" class="form-check-input" type="checkbox" checked="true">
                    <label class="form-check-label" for="audioOnlyMode">音频模式</label>
                    </input>
                </div>
                <div id="app" class="form-check control-item">
                    <input id="duration-starttime" type="number" name="duration" min="-5" max="5" step="0.01" value="0">
                    <input id="duration-endtime" type="number" name="duration" min="-5" max="5" step="0.01" value="0">
                </div>
                <button type="button" class="btn btn-link" onclick="goHome()">Home</button>
            </div>
        </div>
        <div class="subtitle-container">
            <ul id="subtitle-list" class="list-group"></ul>
        </div>
    </div>
    <div class="http-result-container card-container card" style="display:none">
        <div class="card-container-button">
            <button id="close-card-container" type="button" class="btn-close http-result-closer"
                aria-label="Close"></button>
        </div>
        <div id="card-list" class="card-list"></div>
    </div>
    <div class="http-result-container parse-result card" style="display:none">
        <div class="card-container-button">
            <button id="pr-close" type="button" class="btn-close http-result-closer" aria-label="Close"></button>
        </div>
        <div id="pr-review-record" class="pr-item">
            <div id="pr-word"></div>
            <div id="pr-pron"></div>
            <div id="pr-cn-def"></div>
            <div id="pr-sentence"></div>
            <div id="pr-remark"></div>
        </div>
        <div id="pr-meaning-select" class="pr-item card-list"></div>
    </div>
    <!-- context menu -->
    <div id="contextMenu" role="group" class="btn-group-vertical" style="display:none">
        <!-- <div id="contextMenu" role="group" class="btn-group-vertical"> -->
        <button id="search" type="button" class="btn btn-secondary">Search</button>
        <button id="query-word" type="button" class="btn btn-secondary">Query Word</button>
        <button id="parse-sentence" type="button" class="btn btn-secondary">Parse Sentence</button>
    </div>

    <script>
        const cardContainer = $('.card-container');
        const parseResult = $('.parse-result');
        const cardList = $('#card-list');
        const prMeaningSelect = $('#pr-meaning-select');
        const contextMenu = $('#contextMenu');
        const toast = $('#c-toast');
        function closePopup() {
            cardContainer.hide();
            cardList.empty();
            parseResult.hide();
            prMeaningSelect.empty();
        }
        $('#close-card-container').on('click', function () {
            closePopup();
            // cardContainer.hide();
            // cardList.empty();
        });
        $('#pr-close').on('click', function () {
            closePopup();
            // parseResult.hide();
            // prMeaningSelect.empty();
        });

        var selectedText = '';
        var selectedTextSentence = '';

        function customToast(msg) {
            const toastBody = toast.find('.toast-body');
            toastBody.text(msg);
            toast.show();
        }
        $('#c-toast-button').on('click', function () {
            toast.hide();
            prMeaningSelect.empty();
        });

        function showContextMenu() {
            contextMenu.show();
        };
        function hideContextMenu() {
            console.log('hide context menu')
            contextMenu.hide();
        };

        function httpErrorFunc(jqXHR, textStatus, errorThrown) {
            customToast(`${jqXHR.status}\t${errorThrown}: ${jqXHR.responseText}`);
        };

        function searchCallback(response) {
            // var list = JSON.parse(response);
            var list = response;
            $.each(list, function (i, item) {
                // 创建一个卡片元素
                function genCard(word, m_id, meaning, usecase, phonetic_symbol, remark) {
                    var card = $('<div class="card"></div>');
                    var cardBody = $('<div class="card-body"></div>');
                    var title = $('<h5 class="card-title">').text(word);
                    var subTitle = $('<h6 class="card-subtitle mb-2 text-body-secondary">').text(phonetic_symbol + ' ' + meaning);
                    var body = $('<p class="card-text">').html(usecase + '<br/>' + remark);
                    var addERBtn = $('<button type="button" class="btn btn-primary">Add ER</button>');
                    addERBtn.on('click', function () {
                        $.ajax({
                            url: `/{{ passport }}/readd-er/${m_id}`,
                            type: 'POST',
                            success: function (response) {
                                // searchCallback(response);
                                const msg = `add_er successfully: ${word} ${meaning}`;
                                toastr.info(msg, '', { timeOut: 2000 });
                            },
                            error: httpErrorFunc,
                        });
                    });
                    cardBody.append(title, subTitle, body, addERBtn);
                    card.append(cardBody);
                    return card;
                }
                // var li = $('<li>')
                // parse data
                var card = genCard(item['word'], item['meaning_id'], item['meaning'], item['usecase'], item['phonetic_symbol'], item['remark']);
                // li.append(card);
                // gen list
                cardList.append(card);
            });
            if (list.length == 0) {
                cardList.text('Empty!');
            }
            cardContainer.show();
        };
        function searchHttpRequest() {
            // var q = window.getSelection();
            var q = selectedText;
            selectedText = '';
            console.log('searchHttpRequest:' + q)
            // q = 'more';
            $.ajax({
                url: `/{{ passport }}/search/${q}`,
                type: 'GET',
                success: function (response) {
                    searchCallback(response);
                },
                error: httpErrorFunc,
            });
            hideContextMenu();
        };

        function querywordHttpRequest() {
            // var q = window.getSelection();
            var q = selectedText;
            selectedText = '';
            console.log('querywordHttpRequest:' + q)
            // q = 'more';
            $.ajax({
                url: `/{{ passport }}/queryword/${q}`,
                type: 'GET',
                success: function (response) {
                    searchCallback(response);
                },
                error: httpErrorFunc,
            });
            hideContextMenu();
        };

        function selectEndHandle(e) {
            const sel = window.getSelection();
            console.info('list-group mouseup:' + sel.toString());
            if (sel.toString().length > 0) {
                $(document).off(".custom");
                // e.preventDefault();
                selectedText = sel.toString();
                const selectedGroupItem = $(sel.anchorNode).closest('.list-group-item');
                selectedTextSentence = selectedGroupItem.find('.subtitle-item').text();
                console.info(`sel=${selectedText}||selStc=${selectedTextSentence}||list-group mouseup 2`);
                showContextMenu();
                // contextMenu.css('display', 'block');
            } else {
                hideContextMenu();
            }
        }

        function parseSentenceCallback(response) {
            var selectionCleanWord = response.selected.word;
            var selectionQRList = response.selected.qr_list;
            const unknownWords = response.unknown_words;
            const sentence = response.raw_sentence;
            var selectedSelectionIndex = 0;
            var selectedUnknownQRIndex = {};
            const prWord = $('#pr-word');
            const prPron = $('#pr-pron');
            const prCnDef = $('#pr-cn-def');
            const prSentence = $('#pr-sentence');
            const prRemark = $('#pr-remark');
            const prMeaningSelectContainer = $("#pr-meaning-select");
            prWord.text(selectionCleanWord);
            function flushReviewRecord() {
                console.log('flushReviewRecord called');
                // const selectionQR = selectionQRList[selectedSelectionIndex];
                const selectionQR = selectionQRList[selectedUnknownQRIndex[selectionCleanWord]];
                var selectionPron = '';
                var selectionMeaning = '';
                if (selectionQR !== undefined) {
                    selectionPron = selectionQR['pron'] ?? '';
                    selectionMeaning = selectionQR['pos'] + ' ' + selectionQR['cn_def'];
                }
                var parsedSentence = sentence;
                const remarkList = [];
                $.each(unknownWords, function (i, uw) {
                    if (uw.word != selectionCleanWord && uw.raw_word in selectedUnknownQRIndex) {
                        const selMeaningIndex = selectedUnknownQRIndex[uw.raw_word];
                        const qr = uw.qr_list[selMeaningIndex];
                        parsedSentence = parsedSentence.replace(uw.raw_word, `${uw.raw_word}[${qr['pron']}]`);
                        remarkList.push(`${qr['word']} ${qr['pos']} ${qr['cn_def']}`);
                    }
                })
                // $.each(selectedUnknownQRIndex, function (word, i) {
                //     if (word != selectionCleanWord) {
                //         const qr = unknownWordsDict[word][i];
                //         parsedSentence = parsedSentence.replace(word, `${word}[${qr['pron']}]`);
                //         remarkList.push(`${qr['word']} ${qr['pos']} ${qr['cn_def']}`);
                //     }
                // })
                prPron.text(selectionPron);
                prCnDef.text(selectionMeaning);
                prSentence.text(parsedSentence);
                prRemark.text(remarkList.join('; '));
            }
            function genRadio(raw_word, word, queryResult) {
                const radioCardDiv = $('<div class="pr-item">');
                const switchDiv = $('<div class="form-check form-switch">');
                const radioListDiv = $('<div class="form-check">');
                const switchInput = $(`<input class="form-check-input" type="checkbox" role="switch" id="${raw_word}-switch" checked>`);
                const switchLabel = $(`<label class="form-check-label" for="${raw_word}-switch">`).text(word);
                switchInput.change(function () {
                    const checked = $(this).prop('checked');
                    const radio = $(`input[name="${raw_word}"]:radio`);
                    const checkedRadio = radio.filter(':checked');
                    if (checked == true) {
                        radio.prop('disabled', false);
                        checkedRadio.trigger('change');
                        radioListDiv.show();
                    } else {
                        radio.prop('disabled', true);
                        delete selectedUnknownQRIndex[raw_word];
                        flushReviewRecord();
                        radioListDiv.hide();
                    }
                });
                switchDiv.append(switchInput);
                switchDiv.append(switchLabel);
                radioCardDiv.append(switchDiv);
                $.each(queryResult, function (i, qr) {
                    const inputID = `${raw_word}-${i}`;
                    const radioText = `[${qr['pron']}] ${qr['pos']} ${qr['cn_def']}`;
                    const radioItemDiv = $('<div class="form-check">');
                    const input = $(`<input class="form-check-input" type="radio" name="${raw_word}" id="${inputID}">`);
                    const lable = $(`<label class="form-check-label" for="${inputID}">`).text(radioText);
                    input.change(function () {
                        selectedUnknownQRIndex[raw_word] = i;
                        flushReviewRecord();
                    });
                    if (i == 0) {
                        input.prop('checked', true);
                    }
                    radioItemDiv.append(input);
                    radioItemDiv.append(lable);
                    radioListDiv.append(radioItemDiv);
                });
                radioCardDiv.append(radioListDiv);
                selectedUnknownQRIndex[raw_word] = 0;
                return radioCardDiv;
            }
            const selectDiv = genRadio(selectionCleanWord, selectionCleanWord, selectionQRList);
            prMeaningSelectContainer.append(selectDiv);
            $.each(unknownWords, function (i, uw) {
                const tmpSelectDiv = genRadio(uw.raw_word, uw.word, uw.qr_list);
                prMeaningSelectContainer.append(tmpSelectDiv);
            });
            // $.each(unknownWordsDict, function (word, qrList) {
            //     const tmpSelectDiv = genRadio(word, qrList);
            //     prMeaningSelectContainer.append(tmpSelectDiv);
            // });
            flushReviewRecord();
            parseResult.show();
        }

        function parseSentence(e) {
            // var q = window.getSelection();
            var selected = selectedText;
            var sentence = selectedTextSentence;
            selectedText = '';
            selectedTextSentence = '';
            // q = 'more';
            var data = {
                selected: selected,
                sentence: sentence,
            };
            console.log('parseSentence:' + data)
            $.ajax({
                url: `/{{ passport }}/parsestc`,
                type: 'POST',
                data: data,
                success: function (response) {
                    parseSentenceCallback(response);
                },
                error: httpErrorFunc,
            });
            hideContextMenu();
        }

        function copyReviewCard() {
            const prWord = $('#pr-word');
            const prPron = $('#pr-pron');
            const prCnDef = $('#pr-cn-def');
            const prSentence = $('#pr-sentence');
            const prRemark = $('#pr-remark');
            const textToCopy = [
                prWord.text(),
                prPron.text(),
                prCnDef.text(),
                prSentence.text(),
                prRemark.text(),
            ].join('\n');
            // console.log('textToCopy is:' + textToCopy);

            var tempTextarea = $('<textarea>');
            tempTextarea.val(textToCopy);
            $('body').append(tempTextarea);
            tempTextarea.select();
            document.execCommand('copy');
            tempTextarea.remove();
            toastr.info('Success Copied!', '', { timeOut: 1000 });
        };

        $('.list-group').on('mouseup', selectEndHandle);
        $('.list-group').on('touchend', selectEndHandle);

        $('#pr-review-record').on('click', copyReviewCard);
        $('#search').on('click', searchHttpRequest);
        $('#query-word').on('click', querywordHttpRequest);
        $('#parse-sentence').on('click', parseSentence);
        // $(document).on('contextmenu', function (e) {
        //     e.preventDefault();
        //     showContextMenu();
        // });



        // Get a reference to an element.
        // var listGroup = document.querySelector('.list-group');

        // Create an instance of Hammer with the reference.
        // var hammer = new Hammer(listGroup);

        // Subscribe to a quick start event: press, tap, or doubletap.
        // For a full list of quick start events, read the documentation.
        // hammer.on('pan', function (e) {
        //     console.log("You're pressing me!");
        //     console.log(e);
        // });

        // searchHttpRequest()
    </script>

    <script>
        const playerArea = $('.container-fluid');
        const customArea = $('.custom-area');
        const bodyArea = $('body');
        const audioSrc = '{{ audio_url }}';
        const videoSrc = '{{ video_url }}';
        const subtitleSrc = '{ { subtitle_url } }';
        var adjustStartTime = {{ adjust_time }};
        var adjustEndTime = {{ adjust_time }};
        var curHBVersion = 0;
        const localCurIndexKey = 'parrot:{{ item_id }}:local_cur_index';
        const adjustStartTimeKey = 'parrot:{{ item_id }}:local_adjust_start_time';
        const adjustEndTimeKey = 'parrot:{{ item_id }}:local_adjust_end_time';
        const initOptions = {
            // crossorigin: 'anonymous',
            audioOnlyMode: true,
            preload: 'metadata',
            controlBar: {
                remainingTimeDisplay: {
                    displayNegative: false
                }
            },
            // responsive: true,
            // techOrder: ["html5", "flash", "youtube"],
            techOrder: ["html5"],
            autoplay: false, controls: true, mute: false, playsinline: true,
        };

        function heartbeat() {
            console.info('begin heartbeat');
            function heartbeatCallback(response) {
                const newHB = response;

                curHBVersion = newHB.version;
                audioPlayer.currentCueIndex = newHB.cue_index;
                adjustStartTime = newHB.adjust_st;
                $('#duration-starttime').val(adjustStartTime);
                adjustEndTime = newHB.adjust_et;
                $('#duration-endtime').val(adjustEndTime);
                flushListHighlight();
            };

            const data = {
                version: curHBVersion + 1,
                cue_index: audioPlayer.currentCueIndex || 0,
                adjust_st: adjustStartTime,
                adjust_et: adjustEndTime,
            };

            console.info('begin real heartbeat');
            $.ajax({
                url: `/{{ passport }}/heartbeat/{{ item_id }}`,
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(data),
                success: function (response) {
                    heartbeatCallback(response);
                },
                error: httpErrorFunc,
            });
        };

        // setTimeout(function () {
        //     heartbeat(); // 调用你的函数

        //     // 使用 setInterval 来设置函数每5秒执行一次
        // }, 10 * 1000);
        setInterval(function () {
            if (!audioPlayer.paused()) {
                heartbeat();
            };
        }, 10 * 1000); // 5000 表示5秒，单位是毫秒

        function isActive() {
            // 判断程序是否处于前台和设备是否解锁
            return !document.hidden && document.visibilityState === 'visible';
        };

        function goHome() {
            window.location.href = `/{{ passport }}`;
        }

        function findENCues() {
            return Array.from(audioPlayer.textTracks()).find(track => track.language === 'en');
        }
        function findCNCues() {
            return Array.from(audioPlayer.textTracks()).find(track => track.language === 'cn');
        }

        function findProperCueIndex(currentTime) {
            const cues = Array.from(findENCues()?.cues || []);

            //为每个cue分配一个唯一的ID
            if (cues.length <= 1) {
                return 0;
            }
            for (var i = 0; i < cues.length; i++) {
                var cue = cues[i];
                if (currentTime <= cue.endTime) {
                    return i;
                }
            }
            return cues.length - 1;
        }
        function getCuesLength() {
            return Array.from(findENCues()?.cues || []).length;
        }
        function getSubCuesLength() {
            return Array.from(findCNCues()?.cues || []).length;
        }

        function fetchLocalCurIndex() {
            heartbeat();
            return;
            const curIndexValue = localStorage.getItem(localCurIndexKey);
            if (curIndexValue == null) {
                audioPlayer.currentCueIndex = 0
            } else {
                audioPlayer.currentCueIndex = parseInt(curIndexValue);
            }
            const tmpAdjustStartTime = localStorage.getItem(adjustStartTimeKey);
            if (tmpAdjustStartTime != null) {
                adjustStartTime = parseFloat(tmpAdjustStartTime);
                $('#duration-starttime').val(adjustStartTime);
            };
            const tmpAdjustEndTime = localStorage.getItem(adjustEndTimeKey);
            if (tmpAdjustEndTime != null) {
                adjustEndTime = parseFloat(tmpAdjustEndTime);
                $('#duration-endtime').val(adjustEndTime);
            };
        }

        function storeLocalCurIndex() {
            return;
            console.log('storeLocalCurIndex||audioPlayer.currentCueIndex:' + audioPlayer.currentCueIndex)
            localStorage.setItem(localCurIndexKey, audioPlayer.currentCueIndex);
            localStorage.setItem(adjustStartTimeKey, adjustStartTime);
            localStorage.setItem(adjustEndTimeKey, adjustEndTime);
        }

        function getCurrentCue() {
            return findENCues()?.cues[audioPlayer.currentCueIndex];
        }
        function jump2CurCue() {
            // https://docs.videojs.com/docs/api/player.html#MethodsreadyState
            if (audioPlayer.readyState() < 1) {
                return
            }
            console.log('jump2CurCue||audioPlayer.currentCueIndex:' + audioPlayer.currentCueIndex)
            var cue = findENCues()?.cues[audioPlayer.currentCueIndex];
            audioPlayer.currentTime(cue.startTime + adjustStartTime);
            // only improve ending time exceedence, couldn't solve it completely
            // setTimeout(timeUpdate, cue.endTime - cue.startTime - 0.1)
            setTimeout(timeUpdate, cue.endTime - cue.startTime)
            // setTimeout(timeUpdate, cue.endTime - cue.startTime + 0.1)

            storeLocalCurIndex();
        }

        function timeUpdate() {
            // https://docs.videojs.com/docs/api/player.html#MethodsreadyState
            if (audioPlayer.readyState() < 1) {
                return
            }
            // console.log('timeUpdate||currentTime:' + audioPlayer.currentTime());

            const currentTime = audioPlayer.currentTime();
            const cues = Array.from(findENCues()?.cues || []);
            if (audioPlayer.currentCueIndex >= 0 && audioPlayer.currentCueIndex < cues.length) {
                var cue = cues[audioPlayer.currentCueIndex];
                // for more graceful ending
                const cueStarttime = cue.startTime + adjustStartTime - 0.01;
                const cueEndtime = cue.endTime + adjustEndTime;
                // Only when the end of a piece or progress bar operation
                // We can't distinguish between progress bar change and timeupdate
                // because currentTime change will also trigger seeking and seeked event.
                // So here we differentiate them through duration between new_current_time 
                // and cues[audioPlayer.currentCueIndex].endTime, if it's less than 1s, it's
                // considered as ending of a piece, otherwise a manual progress bar operation
                // because most of the time, mannual progess bar operation aimed at big
                // time change
                if (!(cueStarttime <= currentTime && currentTime < cueEndtime)) {
                    // adjust cue index proactively is not often used, so cancel this temporarily
                    if (Math.abs(currentTime - cueEndtime) > 1) {
                        // audioPlayer.currentCueIndex = findProperCueIndex(currentTime)
                    }

                    flushListHighlight();
                    // less than 0.1 is ok
                    console.log('timeUpdate||Endtime exceedance:' + (audioPlayer.currentTime() - cueEndtime));
                    jump2CurCue();
                }
            } else (
                audioPlayer.pause()
            )
        }

        function flushListHighlight() {
            if (isActive() == true) {
                console.log('flushListHighlight');
                var highlightClass = 'list-group-item-success';
                var list = $('#subtitle-list');
                list.find('li').removeClass(highlightClass);
                var li = list.children().eq(audioPlayer.currentCueIndex);
                li.addClass(highlightClass);

                var pos = (
                    li.offset().top + list.scrollTop()
                    - list.offset().top - list.height() / 2 + li.height() / 2);
                // console.log('pos:' + pos);
                list.animate({ scrollTop: pos });
            }
        }

        function formatTime(seconds) {
            var time = new Date(0, 0, 0, 0, 0, seconds.toFixed(2));
            var hours = time.getHours().toString().padStart(2, '0');
            var minutes = time.getMinutes().toString().padStart(2, '0');
            var seconds = time.getSeconds().toString().padStart(2, '0');

            return hours + ":" + minutes + ":" + seconds;
        }

        function loadedmetadata() {
            // 获取第一个 TextTrack
            console.log('loadedmetadata||Subtitles loaded cue:' + getCuesLength());

            setTimeout(function () {
                console.log('loadedmetadata||time trigger');
                console.log('loadedmetadata||Subtitles loaded cue:' + getCuesLength());
                const cues = Array.from(findENCues()?.cues || []);
                //为每个cue分配一个唯一的ID
                for (var i = 0; i < cues.length; i++) {
                    cues[i].id = i.toString();
                }
                const subCues = Array.from(findCNCues()?.cues || []);
                var hasSubCue = false;
                var list = $('#subtitle-list');

                if (subCues.length != 0) {
                    console.log('loadedmetadata||Subtitles 2 loaded:' + getSubCuesLength());
                    hasSubCue = true;
                    list.empty();
                }

                for (var i = 0, j = 0; i < cues.length; i++) {
                    let cue = cues[i];
                    var startTime = formatTime(cue.startTime);
                    // var li = $('<li class="list-group-item">').text(startTime + '-' + cue.text);
                    var li = $('<li class="list-group-item">')
                    const spanTime = $('<span class="subtitle-meta">').text(startTime + ' ');
                    const spanText = $('<span class="subtitle-item">').html(cue.text);
                    li.append(spanTime);
                    li.append(spanText);
                    if (hasSubCue == true && j < subCues.length) {
                        let subCue = subCues[j];
                        // 应对en和cn部分字幕数量不匹配的问题
                        for (; subCue.startTime < cue.startTime;) {
                            j++;
                            if (j < subCues.length) {
                                subCue = subCues[j];
                            } else {
                                break;
                            }
                        }
                        if (subCue.startTime == cue.startTime) {
                            li = li.append("<br>")
                                .append($("<span>").addClass("list-group-item-subcue").html("CN: " + subCue.text));
                            j++;
                        }
                    }

                    li.click(function () {
                        const selction = document.getSelection();
                        if (selction.type != 'Range') {
                            audioPlayer.currentCueIndex = parseInt(cue.id);
                            flushListHighlight();
                            // audioPlayer.currentTime(cue.startTime);
                            jump2CurCue();
                            audioPlayer.play();
                            heartbeat();
                        }
                    });
                    list.append(li);
                }
                fetchLocalCurIndex();
                flushListHighlight();
                jump2CurCue();
            }, 1000);
        }

        function previousAudio() {
            audioPlayer.currentCueIndex -= 1;
            audioPlayer.currentCueIndex %= getCuesLength();
            flushListHighlight();
            jump2CurCue();
        };
        function nextAudio() {
            audioPlayer.currentCueIndex += 1;
            audioPlayer.currentCueIndex %= getCuesLength();
            flushListHighlight();
            jump2CurCue();
        };

        // https://videojs.com/guides/options/
        // videojs.getPlayer('audioPlayer').ready(
        var audioPlayer = videojs('audioPlayer', null, function () {
            // getPlayer may return null if player is not ready
            audioPlayer = videojs.getPlayer('audioPlayer');
            audioPlayer.one('loadedmetadata', loadedmetadata);
            audioPlayer.options(initOptions);

            // this logic is used to avoid cases when loadedmetadata is not triggered
            audioPlayer.src({
                src: audioSrc,
                type: 'audio/mp3',
            });

            $('#duration-starttime').on('input', function () {
                adjustStartTime = parseFloat($(this).val()); // 更新 javascript 变量 myVar
                storeLocalCurIndex();
            });
            $('#duration-endtime').on('input', function () {
                adjustEndTime = parseFloat($(this).val()); // 更新 javascript 变量 myVar
                storeLocalCurIndex();
            });


            if ($('#audioOnlyMode').is(':checked')) {
                audioPlayer.audioOnlyMode(true);
            }
            $('#audioOnlyMode').change(function () {
                if ($('#audioOnlyMode').is(':checked')) {
                    customArea.height('90%');

                    bodyArea.css('max-width', '800px');
                    playerArea.css('float', '');
                    playerArea.width('100%');
                    customArea.css('float', '');
                    customArea.width('100%');

                    audioPlayer.pause();
                    audioPlayer.src({
                        src: audioSrc,
                        type: 'audio/mp3',
                    });
                    audioPlayer.audioOnlyMode(true);
                    audioPlayer.load();
                    audioPlayer.one('loadedmetadata', loadedmetadata);
                    jump2CurCue();
                    console.log('audioOnlyMode||audioPlayer.currentCueIndex:' + audioPlayer.currentCueIndex)
                } else {
                    customArea.height('100%');

                    bodyArea.css('max-width', '100%');
                    playerArea.css('float', 'left');
                    playerArea.width('60%');
                    customArea.css('float', 'right');
                    customArea.width('40%');


                    audioPlayer.pause();
                    audioPlayer.src({
                        src: videoSrc,
                        type: 'video/mp4',
                    });
                    audioPlayer.audioOnlyMode(false);
                    audioPlayer.load();
                    audioPlayer.one('loadedmetadata', loadedmetadata);
                    jump2CurCue();
                    console.log('audioOnlyMode||audioPlayer.currentCueIndex:' + audioPlayer.currentCueIndex)
                }
            });
            fetchLocalCurIndex();

            audioPlayer.on('timeupdate', function () {
                if ($('#singleLineLoop').is(':checked')) {
                    timeUpdate();
                }
            });



            window.addEventListener('keydown', function (e) {
                switch (e.keyCode) {
                    case 32: // 空格键
                        if (audioPlayer.paused()) {
                            audioPlayer.play();
                        } else {
                            audioPlayer.pause();
                        }
                        e.preventDefault();
                        break;
                    case 37: // 左箭头键
                        previousAudio();
                        e.preventDefault();
                        break;
                    case 39: // 右箭头键
                        nextAudio()
                        e.preventDefault();
                        break;
                    case 27: // ESC
                        closePopup();
                        break;
                }
            }, true);

            document.addEventListener('copy', function (e) {
                console.log('copied');
                const selection = document.getSelection();
                if (selection.type == 'Range') {
                    var ele = $(selection.anchorNode);
                    if (ele.closest('#subtitle-list').length > 0) {
                        const text_only = selection.toString();
                        const clipdata = e.clipboardData || window.clipboardData;
                        console.log('clear paste format');
                        clipdata.setData('text/plain', text_only);
                        clipdata.setData('text/html', text_only);
                        e.preventDefault();
                    }
                }
            });

            audioPlayer.on('play', function () {
                heartbeat();
            });
            navigator.mediaSession.setActionHandler('play', function () {
                audioPlayer.play();
            });
            navigator.mediaSession.setActionHandler('pause', function () {
                audioPlayer.pause();
            });
            navigator.mediaSession.setActionHandler('previoustrack', function () {
                previousAudio();
                heartbeat();
            });
            navigator.mediaSession.setActionHandler('nexttrack', function () {
                nextAudio();
                heartbeat();
            });

            // audioPlayer.ready(function () {
            //     // this.on('loadedmetadata', function () { alert('lmd'); })
            //     this.one('loadedmetadata', loadedmetadata);
            // });

            // flushListHighlight won't work normally if browser is switched to background
            // so it's better to invoce it every time when visibility changed
            document.addEventListener("visibilitychange", function () {
                flushListHighlight();
            });
        });

    </script>
</body>

</html>